body {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

.container {
    width: 960px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks_area {
    background-color: rgb(56, 155, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task_columns {
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.task_column {
    width: 240px;
    margin: 10px;
    list-style: none;
}
.task_item{
    background-color: #ddd;
    margin: 10px;
    padding: 10px;
}

.button_columns {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.title_new_task{
    padding: 10px;
}

.button_item {
    display: flex;
    flex-direction: column;
}
.button{
    padding: 10px;
    background-color: green;
    border: 0;
    color: #fff;
}


.dragged {
    list-style-type: none;
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    background: #fff;

}
