body {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

.container {
    width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks_area {
    background-color: #107abb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task_columns {
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 10px;
}
.task_columns > li{
    margin: 10px;
    background-color: #ddd;
    border-radius: 5px;
}

.task_column {
    width: 240px;
    margin: 10px;
    list-style: none;
}
.task_item{
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0px rgba(34, 60, 80, 0.2);
}
.task_del{
    display: none;
    position: absolute;
    top:5px;
    right: 5px; 
    width: 20px;
    height: 20px;   
    background-color: #ddd;
    opacity: 0.3;
    text-align: center;
}
.task_del.active{
display: block;
}

.button_columns {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    padding: 10px;
}

.title_new_task{
    padding: 10px;
}

.button_item {
    display: flex;
    flex-direction: column;
}
.button{
    padding: 10px;
    background-color: green;
    border: 0;
    color: #fff;
    margin: 10px;
}


.ghost {
    list-style-type: none;
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    pointer-events: none;
    background: #fff;

}
.dragged{
    position: relative;
}
.dragged:before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: #B17461;
        z-index: 1;
      
}

.tempEl{
    position: relative;
}
.tempEl:before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: #fbfbfb;
        z-index: 1;
      
}
